.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
    transition: transform 0.3s ease;
  }


  .news-card {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    box-shadow: 0 0 15px rgba(85, 85, 85, 0.2);
    margin: 1em 0;
    background-color: $dark-light-color;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.78);
    color: $text-color;
    animation: fadeIn 0.8s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0; 
      transform: scale(0.85);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .news-card img {
    border-radius: 15px 15px 0 0;
  }
  
  .news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    font-size: 15px;
  }
  .news-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-name{
      display: flex;
      gap: 1em;
      align-items: center;
      .fa-circle-user{
        font-size: 1.5em;
      }
      span{
        font-size: 1.2em;
        font-weight: 600;
      }
    }
  }
  .news-title {
    margin-top: 2em;
    font-weight: 600;
    height: 100px;
  }
  .news-description {
    text-align: justify;
    margin: 0.8em 0 1em 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  .news-comment-icon {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  
  .shared-at{
    opacity: .6;
  }
  .view-button {
    position: relative;
    background-color:  $dark-color;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: $text-color;
    width: 7em;
    text-align: center;
    padding: 0.6em 0.4em;
    border-radius: 5px;
  }
  